tqdm==4.67.3
pydantic==2.12.5
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-nvjitlink-cu12==12.8.93
sentry-sdk==2.55.0
certifi==2026.2.25
triton==3.6.0
joblib==1.5.3
urllib3==2.6.3
charset-normalizer==3.4.6
click==8.3.1
scikit-learn==1.8.0
numpy==2.4.3
cuda-pathfinder==1.4.3
fsspec==2026.2.0
nvidia-nvtx-cu12==12.8.90
nvidia-cuda-runtime-cu12==12.8.90
Jinja2==3.1.6
nvidia-cublas-cu12==12.8.4.1
scipy==1.17.1
nvidia-curand-cu12==10.3.9.90
safetensors==0.7.0
biopython==1.86
filelock==3.25.2
wandb==0.25.1
sword3==0.1.0
torch==2.10.0
cuda-bindings==12.9.4
nvidia-nccl-cu12==2.27.5
nvidia-cusolver-cu12==11.7.3.90
setuptools==82.0.1
nvidia-cusparse-cu12==12.5.8.93
gitdb==4.0.12
nvidia-cusparselt-cu12==0.7.1
PyYAML==6.0.3
nvidia-cufft-cu12==11.3.3.83
nvidia-cuda-cupti-cu12==12.8.90
platformdirs==4.9.4
nvidia-cudnn-cu12==9.10.2.21
pydantic_core==2.41.5
idna==3.11
packaging==26.0
networkx==3.6.1
nvidia-nvshmem-cu12==3.4.5
protobuf==6.33.6
annotated-types==0.7.0
mpmath==1.3.0
smmap==5.0.3
nvidia-cufile-cu12==1.13.1.3
threadpoolctl==3.6.0
typing_extensions==4.15.0
requests==2.32.5
MarkupSafe==3.0.3
GitPython==3.1.46
typing-inspection==0.4.2
sympy==1.14.0
